$theme-dark: #011627;
$theme-white: #fdfffc;
$theme-green: #17bebb;

html,
body {
  margin: 0;
  padding: 0;
}

.site-main {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  background-color: $theme-white;

  align-items: center;
  justify-content: flex-start;
}

.site-header {
  display: flex;

  width: 100vw;
  height: 350px;

  color: $theme-white;
  background-color: $theme-dark;

  align-items: center;
  justify-content: center;
}

#drawer-icon {
  color: $theme-white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 27px;
  cursor: pointer;
}

.title-container {
  padding-bottom: 20px;
  hr {
    position: relative;
    bottom: 30px;
    left: 5px;

    width: 107%;
    height: 4px;
    margin: 0;

    transform: rotate(-11deg);

    border: none;
    border-radius: 2px;
    background-color: $theme-green;
  }
}

.site-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 6.5em;

  position: relative;

  margin: 0;

  letter-spacing: 15px;

  color: $theme-white;

  #logo-s {
    font-size: 1.4em;
    line-height: 0;

    letter-spacing: 5px;
  }

  #logo-4 {
    font-size: 1.2em;
    line-height: 0;

    letter-spacing: 17px;
  }
}

.logo {
  z-index: 10;

  transform: rotate(-12deg);

  text-shadow: 0.07em 0.10em rgba(255, 255, 255, 0.2);
}
