$theme-dark: #011627;
$theme-white: #fdfffc;
$theme-green: #17bebb;
// $theme-red: #ed4d59;
$theme-red: #ff6978;
html,
body {
  margin: 0;
  padding: 0;

  color: $theme-dark;
}

a:link,
a:visited {
  font-weight: 500;

  color: $theme-green;
  outline: none;
}

.site-main {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  background-color: $theme-white;

  align-items: center;
  justify-content: flex-start;
}

.site-header {
  display: flex;

  width: 100vw;
  height: 300px;

  color: $theme-white;
  background-color: $theme-dark;

  align-items: center;
  justify-content: center;
}

#drawer-icon {
  font-size: 27px;

  position: absolute;
  top: 10px;
  left: 10px;

  cursor: pointer;

  color: $theme-white;
}

.site-menu {
  position: absolute;
  top: 0;
  right: 0;

  padding-right: 15px;
  ul {
    height: 25px;

    list-style-type: none;

    -webkit-padding-start: 0;
  }
}

.menu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  line-height: 1.8;

  float: left;

  height: 25px;
  margin: auto 3px;

  color: $theme-white;
  border: 1px solid $theme-white;
  border-radius: 5px;
  a {
    padding: 5px 6px;

    text-decoration: none;

    color: inherit;
  }
}

.menu-item:hover {
  border: 1px solid $theme-green;
}

.title-container {
  margin-bottom: -20px;

  text-decoration: none;
  hr {
    position: relative;
    bottom: 30px;
    left: 5px;

    width: 107%;
    height: 4px;
    margin: 0;

    transform: rotate(-11deg);

    border: none;
    border-radius: 2px;
    background-color: $theme-green;
  }
}

.site-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 6.5em;

  position: relative;

  margin: 0;

  letter-spacing: 15px;

  color: $theme-white;
  #logo-s {
    font-size: 1.4em;
    line-height: 0;

    letter-spacing: 5px;
  }
  #logo-4 {
    font-size: 1.2em;
    line-height: 0;

    letter-spacing: 17px;
  }
}

.logo {
  z-index: 10;

  transform: rotate(-12deg);

  text-shadow: 0.07em 0.10em rgba(255, 255, 255, 0.2);
}

.curriculum {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 60px 0;
  padding-bottom: 40px;

  align-items: center;
  justify-content: center;
  p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;

    max-width: 800px;
    margin: 13px 20px;

    text-align: justify;
  }
}

.projects {
  font-family: 'Raleway', sans-serif;

  display: flex;
  flex-direction: column;

  max-width: 950px;
  margin-bottom: 60px;

  align-items: center;
  justify-content: center;
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.9em;

    margin-bottom: 0;
  }
}

.projects-container {
  display: flex;
  flex-direction: row;

  padding: 0 10px;

  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project {
  font-weight: 300;

  display: flex;
  flex-direction: row;

  width: 410px; // height: 250px;
  margin: 20px auto;
  padding: 0 10px;
  padding-left: 15px; // box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.project-icon {
  margin-top: 22px;
  margin-right: 10px;
}

.project-content {
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;

    height: 30px;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.6;

    margin-bottom: 15px;
  }
}

.project-btn-container {
  width: 94%;
  height: 30px;
}

.project-btn {
  float: right;
  :hover {
    margin: 0 4px;

    border: 2px solid $theme-green;
  }
  button {
    font-family: 'Raleway', sans-serif;
    font-size: 0.85em;
    font-weight: 500;

    margin: 1px 5px;
    padding: 3px 10px;

    cursor: pointer;

    border: 1px solid rgba($theme-dark, 0.22);
    border-radius: 4px;
    outline: none;
    background-color: white;
    .project-btn-icon {
      margin: 0 4px;
      margin-left: 7px;

      border: none;
    }
  }
}

@media (max-width: 600px) {
  .site-title {
    font-size: 4em;

    max-width: 310px;
    height: 110px;

    align-self: center;
  }
  .projects-container {
    margin-top: 10px;
  }
  .project {
    width: 100%;
    max-width: 410px;
    margin: 10px auto;
  }
}

footer {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;

  width: 100%;
  height: 40px;

  color: lightgrey;

  sup > i {
    width: 12px !important;
    font-size: 12px !important;
  }
}
